# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

hello-world-api-get/dist
hello-world-api-get-query/dist
hello-world-api-get-path-param/dist
hello-world-api-post/dist
hello-world-api-put/dist
hello-world-api-delete/dist
